<footer>
    <div id="footer-content">
        <div id="reseaux-footer">
            <a target="_blank" href="https://www.linkedin.com">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a target="_blank" href="https://twitter.com">
                <i class="fa-brands fa-x-twitter"></i>
            </a>
            <a target="_blank" href="https://www.threads.net">
                <i class="fa-brands fa-threads"></i>
            </a>
            <a target="_blank" href="https://bsky.app">
                <i class="fa-brands fa-bluesky"></i>
            </a>
        </div>
        <p>© 2025 LaCrypte</p>
    </div>
</footer>