<div id="reseaux">
  <div onclick="window.open('https://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(window.location.href) + '&title=' + document.title, '_blank', 'width=600,height=400'); return false;">
    <i id="linkedin" class="fab fa-linkedin"></i>
  </div>

  <div onclick="window.open('https://twitter.com/intent/tweet?url=' + encodeURIComponent(window.location.href) + '&text=' + encodeURIComponent(document.title), '_blank', 'width=600,height=400'); return false;">
        <i class="fa-brands fa-x-twitter"></i>
  </div>

  <div onclick="window.open('https://www.threads.net/share?url=' + encodeURIComponent(window.location.href) + '&text=' + encodeURIComponent(document.title), '_blank', 'width=600,height=400'); return false;">
        <i class="fa-brands fa-threads"></i>
    </div>

    <div onclick="window.open('https://bsky.app/share?link=' + encodeURIComponent(window.location.href), '_blank', 'width=600,height=400'); return false;">
        <i class="fa-brands fa-bluesky"></i>
    </div>
</div>

<div id="reseaux-mobile">
  <div onclick="window.open('https://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(window.location.href) + '&title=' + document.title, '_blank', 'width=600,height=400'); return false;">
    <i id="linkedin" class="fab fa-linkedin"></i>
  </div>

  <div onclick="window.open('https://twitter.com/intent/tweet?url=' + encodeURIComponent(window.location.href) + '&text=' + encodeURIComponent(document.title), '_blank', 'width=600,height=400'); return false;">
        <i class="fa-brands fa-x-twitter"></i>
  </div>

  <div onclick="window.open('https://www.threads.net/share?url=' + encodeURIComponent(window.location.href) + '&text=' + encodeURIComponent(document.title), '_blank', 'width=600,height=400'); return false;">
        <i class="fa-brands fa-threads"></i>
    </div>

    <div onclick="window.open('https://bsky.app/share?link=' + encodeURIComponent(window.location.href), '_blank', 'width=600,height=400'); return false;">
        <i class="fa-brands fa-bluesky"></i>
    </div>
</div>