<div id="reseaux">
  <a
    target="_blank"
    onclick="window.open('https://www.linkedin.com/sharing/share-offsite/?url=' + encodeURIComponent(window.location.href), 'targetWindow', 'toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;"
    href="#"
  >
    <i class="fa-brands fa-linkedin"></i>
  </a>
  <a
    target="_blank"
    onclick="window.open('https://twitter.com/intent/tweet?url=' + encodeURIComponent(window.location.href) + '&text=' + encodeURIComponent(document.title), 'targetWindow', 'toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;"
    href="#"
  >
    <i class="fa-brands fa-x-twitter"></i
  ></a>

  <a
    target="_blank"
    onclick="window.open('https://www.threads.net/share?text=' + encodeURIComponent(document.title + ' ' + window.location.href), 'targetWindow', 'toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;"
    href="#"
  >
    <i class="fa-brands fa-threads"></i
  ></a>

  <a
    target="_blank"
    onclick="window.open('https://bsky.app/profile/share?text=' + encodeURIComponent(document.title + ' ' + window.location.href), 'targetWindow', 'toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;"
    href="#"
  >
    <i class="fa-brands fa-bluesky"></i
  ></a>
</div>

<div id="reseaux-mobile">
  <a
    target="_blank"
    onclick="window.open('https://www.linkedin.com/sharing/share-offsite/?url=' + encodeURIComponent(window.location.href), 'targetWindow', 'toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;"
    href="#"
  >
    <i class="fa-brands fa-linkedin"></i>
  </a>
  <a
    target="_blank"
    onclick="window.open('https://twitter.com/intent/tweet?url=' + encodeURIComponent(window.location.href) + '&text=' + encodeURIComponent(document.title), 'targetWindow', 'toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;"
    href="#"
    ><i class="fa-brands fa-x-twitter"></i
  ></a>

  <a
    target="_blank"
    onclick="window.open('https://www.threads.net/share?text=' + encodeURIComponent(document.title + ' ' + window.location.href), 'targetWindow', 'toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;"
    href="#"
  >
    <i class="fa-brands fa-threads"></i
  ></a>

  <a
    target="_blank"
    onclick="window.open('https://bsky.app/profile/share?text=' + encodeURIComponent(document.title + ' ' + window.location.href), 'targetWindow', 'toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;"
    href="#"
  >
    <i class="fa-brands fa-bluesky"></i
  ></a>
</div>
