<head>
  <script type="module" src="/assets/js/accueil.js"></script>
</head>

<%- include("partials/header") %>

<main>
  <section id="hero-header">
    <div id="bg-hero">
      <h1>LaCrypte</h1>
      <div id="content">
        <h2>Déterre le cryptophage en toi</h2>
        <a href="#projet"><button>En savoir plus...</button></a>
      </div>
    </div>
  </section>

  <section id="projet">
    <h2>Le projet</h2>
  </section>

  <section id="offre">
    <h2>Nos offres</h2>
  </section>

  <section id="carrousel">
    <div id="carrousel-content">
      <div class="carrousel"></div>
      <div id="carrousel-controls">
        <button class="prev">&#10094;</button>
        <button class="next">&#10095;</button>
      </div>
    </div>
    <div id="lightbox">
      <span class="close">&times;</span>
      <img src="" alt="" class="lightbox-content" id="lightbox-img" />
    </div>
  </section>

  <section id="crypto"></section>
</main>
<%- include("partials/reseaux") %>
<%- include("partials/footer") %>
<%- include("partials/top") %>
</body>

</html>