$bg-color-light: #ececec;
$text-color-light: #212121;
$bg-color-dark: #212121;
$text-color-dark: #ececec;
$degrade:linear-gradient(50deg, rgba(79,28,100,1) 0%, rgba(252,70,107,1) 50%, rgba(33,211,237,1) 100%);
$green:#21d3ed;
$purple:#4f1c64;
$pink:#fc466b;
