@font-face {
    font-family: "titreh1";
    src: url(/assets/font/titreh1.ttf);
}

* {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    // height: 100vh;
    // min-height: calc(var(--vh, 1vh)*100);
}

html[data-theme="light"] {
    background-color: $bg-color-light;
    color: $text-color-light;
    & a {
        color: $text-color-light;
    }
    & header {
        & nav {
            & a {
                & #logo_long {
                    fill: $text-color-light;
                }
                & #logo_long:hover {
                    opacity: 0.5;
                }
            }
            & #nav {
                & i[data-theme-toggler]{
                    color: $text-color-light;
                }
            }
        }
    }
}

html[data-theme="dark"] {
    background-color: $bg-color-dark;
    color: $text-color-dark;
    & a {
        color: $text-color-dark;
    }
    & header {
        & nav {
            & a {
                & #logo_long {
                    fill: $text-color-dark;
                }
                & #logo_long:hover {
                    opacity: 0.5;
                }
            }
            & #nav {
                & i[data-theme-toggler]{
                    color: $text-color-dark;
                }
            }
        }
    }
}

button {
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    width: fit-content;
    cursor: pointer;
    border: none;
    font-weight: bolder;
}

#scroll-top {
    display: none;
    border-radius: 100%;
    background-color: $bg-color-dark;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    color: $text-color-dark;
    font-size: 2rem;
    padding: 0.5rem;
    // mix-blend-mode: exclusion;
}

main {
    & #hero-header {
        background: $degrade;
        width: 100%;
        & #bg-hero {
            width: 100%;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
                & h1 {
                text-align: center;
                font-family: titreh1;
                font-size: 5rem;
                padding: 1rem;
                background: rgba(255, 255, 255, 0.3);
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            }
            & div#content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                align-content: center;
                padding: 1rem;
                gap: 1rem;
                & h2 {
                    font-family: titreh1;
                    text-align: center;
                    font-size: 3rem;
                    padding: 1rem;
                    font-weight: lighter;
                    }
                & button {
                    font-size: 1.5rem;
                    color: $bg-color-dark;
                    background: $bg-color-light;
                    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
                }
                & button:hover {
                    background-color: $text-color-light;
                    color: $text-color-dark;
                    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
                    }
                }
            }
        }
    & #projet, #offre, #contact {
        min-height: 100vh;
        min-height: calc(var(--vh, 1vh)*100);
    }
}

#projet {
    background-image: url(/media/image/PP_LaCrypte.webp);
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    background-size: cover;
}

#contact {
    background-color: $bg-color-dark;
    height: 100%;
    .container {
        width: 300px;
        margin: 50px auto;
        background: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        h1 {
            text-align: center;
        }
        & #contactForm {
            z-index: 1000;
            label {
                margin-top: 10px;
                display: block;
            }
            
            input, textarea {
                width: 100%;
                padding: 8px;
                margin: 5px 0 15px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }
            
            button {
                width: 100%;
                padding: 10px;
                background-color: #5cb85c;
                color: white;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }
            
            button:hover {
                background-color: #4cae4c;
            }
            
            #responseMessage {
                margin-top: 15px;
                text-align: center;
            }
        }
    }
}

// DarkMode responsiv
@media only screen and (max-width: 768px) {
    html[data-theme="light"] {
        & header {
            & nav {
                & #nav {
                    background-color: $bg-color-dark;
                    & ul {
                        & li {
                            & a{
                                color: $bg-color-light;
                            }
                        }
                    }
                    & i[data-theme-toggler]{
                        color: $text-color-dark;
                        cursor: pointer;
                    }
                    & i[data-theme-toggler]:hover{
                        opacity: 0.5;
                    }
                }
            }
        }
        & #reseaux {
            a {
                & i {
                    color: $text-color-light;
                }
            }
        }
    }
    
    html[data-theme="dark"] {
        & header {
            & nav {
                & #nav {
                    background-color: $bg-color-light;
                    & ul {
                        & li {
                            & a{
                                color: $bg-color-dark;
                            }
                        }
                    }
                    & i[data-theme-toggler]{
                        color: $text-color-light;
                        cursor: pointer;
                    }
                    & i[data-theme-toggler]:hover{
                        opacity: 0.5;
                    }
                }
            }
        }
        & #reseaux {
            a {
                & i {
                    color: $text-color-dark;
                }
            }
        }
    }
}

// Main responsiv
@media only screen and (max-width: 768px) {
    main {
        & #hero-header {
            & #bg-hero {
                & h1 {
                    font-size: 2rem !important;
                    justify-content: space-around;
                }
                & #content {
                    display: flex;
                    flex-direction: column;
                    & h2 {
                        font-size: 2rem;
                        padding: 1rem;
                        }
                    & button {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #scroll-top {
        right: 1rem;
        bottom: 4rem;
    }
}