    <%- include("../partials/header", {title: "contact"}) %>
    <main></main>
    <%- include("../partials/reseaux") %> <%- include("../partials/footer") %>
    <%- include("../partials/top") %>
    <div include-html=""></div>
  </body>
</html>
