<!DOCTYPE html>
<html lang="fr" data-theme="">
  <head>
    <meta charset="UTF-8" />
    <meta
      property="og:description"
      content="Le site officiel de la cryptomonnaie LaCrypte"
    />
    <meta property="og:url" content="http://lacrypte.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="LaCrypte" />
    <meta
      property="og:keywords"
      content="lacrypte, crypto, investissement, portfeuille, crytomonnaie"
    />
    <meta
      property="og:image"
      content="http://localhost:3000/media/image/PP_LaCrypte.webp"
    />
    <meta
      property="image"
      content="http://localhost:3000/media/image/PP_LaCrypte.webp"
    />
    <link
      rel="icon"
      type="image/png"
      href="/media/favicon/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="/media/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/media/favicon/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/media/favicon/apple-touch-icon.png"
    />
    <link rel="manifest" href="/media/favicon/site.webmanifest" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/styles/style.css" />
    <title>LaCrypte</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <script type="module" src="/assets/js/main.js"></script>
  </head>
  <body>
    <%- include("partials/header") %>
    <main>
      <section id="contact">
        <div class="container">
          <h2>Contactez-nous</h2>
          <form id="contactForm">
            <label for="name">Nom :</label>
            <input type="text" id="name" name="name" required />

            <label for="email">Email :</label>
            <input type="email" id="email" name="email" required />

            <label for="message">Message :</label>
            <textarea id="message" name="message" required></textarea>

            <button type="submit">Envoyer</button>
          </form>
          <div id="responseMessage"></div>
        </div>
      </section>
    </main>
    <%- include("partials/reseaux") %> <%- include("partials/footer") %> <%-
    include("partials/top") %>
  </body>
</html>
